.menu {
	display: none;
	z-index: 8;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100vh;
	width: 100vw;
	position: fixed;

	.menu-bg-layer {
		position: fixed;
		background: rgb(255, 255, 255);
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		height: 100%;
		width: 100%;
		z-index: -1;
	}

	.menu-layer {
		position: relative;
		top: 0;
		left: 0;
		background: rgb(0, 0, 0);
		height: 100%;
		width: 100%;
		z-index: -1;
		overflow: hidden;

		.wrapper {
			margin-top: 15px;
			height: 100%;
			width: 100%;
			z-index: 10;
			padding: 50px 50px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: row;
			flex-wrap: wrap;
			position: relative;

			.menu-links {
				margin-top: 10px;
				width: 100%;
				display: flex;
				justify-content: space-between;
				flex-direction: column;

				nav {
					display: block;

					ul {
						// display: flex;
						// align-items: center;
						// justify-content: space-evenly;
						// height: 80vh;
						// flex-wrap: wrap;

						li {
							display: flex;
							align-items: center;
							justify-content: center;
							box-sizing: border-box;
							border: 2px solid white;
							border-radius: 20px;
							box-shadow: 1px 2px 4px 0.5px white;
							list-style: none;
							font-size: 5rem;
							font-weight: 900;
							cursor: pointer;
							overflow: hidden;
							position: relative;
							width: 150px;
							height: 90px;
							margin: auto;
							margin-bottom: 25px;
							transition: width 1s, height 1s, transform 1s;

							a {
								position: absolute;
								color: rgba(255, 255, 255, 0.918);
								text-decoration: none;

								&:hover {
									color: rgb(231, 231, 187);
								}
							}
						}
						li:hover{
								width: 200px;
  								height: 150px;
  								transform: rotate(360deg);
						}
						
					}
				}
			}

			.social-media {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				padding: 5px;
				align-items: center;
				flex-direction: row;
				margin:auto;
				margin-bottom: 20px;
				color: white;

				a {
					font-size: 1rem;
					padding:20px;
					margin-left: 5px;
				}

			}
		}
	}

}