@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Noto+Sans+Mono:wght@400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
// /********************************************/
// /*************FOOTER************************/
// /******************************************/

.footer {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	flex-wrap: wrap;
	height: 80vh;
	position: relative;
	overflow: hidden;
}

// .footer_text {
// 	color: #fff;
// 	font-family: 'Archivo Black', sans-serif;
// 	font-size: 60px;
// 	font-weight: 900;
// 	position: absolute;
// 	bottom: 30vh;
// 	left: 10vw;
// 	display: flex;
// 	justify-content: space-evenly;
// }

// .footer_text span {
// 	margin: 8px;
// }

/**********FOOTER_TEXT**********/
.footer_text {
	position: absolute;
	top: 10vh;
	// bottom: 40vh;
	left: 6vw;
	background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	font-size: 6vw;
	font-family: "Source Sans Pro", sans-serif;
	animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;

	@keyframes reveal {
		80% {
			letter-spacing: 8px;
		}

		100% {
			background-size: 300% 300%;
		}
	}

	@keyframes glow {
		40% {
			text-shadow: 0 0 8px #fff;
		}
	}
}

.footer_copyright {
	color: #fff;
	position: absolute;
	bottom: 0;
	left: 40vw;
}

@media only screen and (max-width: 1000px) {
	// .footer_text {
	// 	font-size: 35px;
	// }
}

@media only screen and (max-width: 800px) {
	.footer_text {
		position: absolute;
		left: 3vw;
		// font-size: 30px;
	}
}

@media only screen and (max-width: 760px) {
	.footer_text {
		position: absolute;
		bottom: 45vh;
		left: 4vw;
	}
}

@media only screen and (max-width: 680px) {
	.footer_text {
		position: absolute;
		bottom: 45vh;
		left: 4vw;
		// 	font-size: 27px;
	}
}

@media only screen and (max-width: 640px) {
	.footer_text {
		position: absolute;
		bottom: 45vh;
		left: 4vw;
		// 	font-size: 27px;
	}
}

@media only screen and (max-width: 580px) {
	.footer_text {
		position: absolute;
		bottom: 37vh;
		left: 4vw;
		// 	font-size: 27px;
	}
	.footer {
		height: 60vh;
	}
	// .footer_text {
	// 	position: absolute;
	// 	left: 4vw;
	// 	font-size: 23px;
	// }
}

@media only screen and (max-width: 480px) {
	.footer_text {
		position: absolute;
		bottom: 36vh;
		left: 4vw;
		// 	font-size: 27px;
	}
	.footer {
		height: 55vh;
	}
	// .footer_text {
	// 	position: absolute;
	// 	left: 4vw;
	// 	font-size: 23px;
	// }
}
