.img-container {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 23px;
    object-fit: contain;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;


        // padding: 23px;
        // border-radius: 50%;


    }

    .overlay {

        position: absolute;


        right: 10px;
        width: 20px;
        height: 100px;

        display: block;
        flex-direction: column;
        object-fit: contain;
        transform: translateY(-80%);

        overflow: hidden;

        transition: all 0.3s;

        .arrow {
            position: relative;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #f00;

        }

        .box {

            height: 80px;
            width: 20px;
            background-color: rgba($color: red, $alpha: 1);

            transition: all 0.3s;


            &:hover {
                opacity: 1;

            }
        }


        .title {
            font-weight: 700;
            font-size: 1.7rem;
        }

        &:hover {
            transform: translateX(0);


        }




    }

    .overlay:hover>* {
        transform: translateY(0px);

    }
}

.tail {
    width: 20px;
    height: 10px;
    border-top: 20px solid #f00;
}