// .bio {
//     display: grid;
//     grid-auto-flow: row;
//     grid-template-rows: min-content;
//     grid-gap: 24px;
//   }

.ul {
  display: flex;
  /* min-height: 750px; */
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  width: 100vw;
  flex-direction: column;
}

@media screen and (max-width: 1000px) {
  .ul {
    height: 130vh;
  }
}

@media only screen and (min-width: 1280px) {
  .ul {
    flex-direction: row;
  }
}

.ul li {
  flex: 1;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.35s ease;
  cursor: pointer;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  overflow: hidden;
  max-height: 100%;
}

.ul li:before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 15, 15, 0.15);
}

.ul li.active {
  flex: 6;
  cursor: default;
}

.ul li.active:before {
  // background: linear-gradient(180deg, rgba(15, 15, 15, 0) 0%, #111111 100%);
}

.ul h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .ul h3 {
    font-size: 48px;
    line-height: 48px;
  }
}

@media only screen and (min-width: 1280px) {
  .ul h3 {
    font-size: 64px;
    line-height: 64px;
  }
}

.ul h3 {
  margin: 0;
  font-weight: bold;
  white-space: nowrap;
  position: absolute;
  z-index: 2;
  opacity: 1;
  top: 50%;
  left: 50%;
  transition: top 0.35s, opacity 0.15s;
  transform-origin: 0 0;
  font-size: 24px;
  text-transform: uppercase;
  transform: translate(-50%, -50%) rotate(0deg);
  color: #000;
}

@media only screen and (min-width: 1280px) {
  .ul h3 {
    top: 100%;
    left: 50%;
    font-size: 32px;
    transform: translate(-20px, -50%) rotate(-90deg);
  }
}

.active h3 {
  opacity: 0;
  top: 20%;
  z-index: 3;
}

@media screen and (min-width: 768px) {
  .active h3 {
    opacity: 0;
    top: 200%;
    z-index: 3;
  }
}

.section-content {
  position: relative;
  z-index: 3;
  opacity: 0;
  align-self: stretch;
  width: 100%;
  transition: all 0.35s 0.1s ease-out;
}

.active .section-content {
  pointer-events: all;
  opacity: 1;
}

.section-content .inner {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex-direction: row;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.25s ease-out;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .bio h2 {
    opacity: 0;
  }
}

// @media only screen and (min-width: 768px) {
//   .section-content .inner {
//     grid-auto-flow: row;
//     // grid-template-columns: calc(100% - 340px) 300px;
//     grid-column-gap: 40px;
//     padding: 40px;
//   }
// }

// @media only screen and (min-width: 1280px) {
//   .section-content .inner {
//     grid-auto-flow: row;
//     grid-template-columns: 460px 200px;
//     grid-column-gap: 40px;
//     padding: 40px;
//   }
// }

.active .section-content .inner {
  opacity: 1;
}

.artist-profile-link {
  pointer-events: none;
}

.active .artist-profile-link {
  pointer-events: all;
}

.btn {
  position: relative;
  top: 80%;
  left: 75%;
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  outline: solid #ffffff 1px;
  color: black;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2em;
  text-decoration: none;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;

  &:hover,
  &:focus {
    color: rgb(255, 255, 255);
    outline: 0;
  }
  @media screen and (max-width: 768px) {
    top: 85%;
    left: 70%;
    transform: translate(-50%, -10%);
  }
}

.third {
  border-color: rgb(255, 255, 255);
  color: #fff;
  box-shadow: 0 0 40px 40px rgb(255, 255, 255) inrgb(255, 255, 255) 0 0 0 0 rgb(255, 255, 255);
  transition: all 150ms ease-in-out;

  &:hover {
    box-shadow: 0 0 10px 0 rgb(255, 255, 255) inset, 0 0 10px 4px rgb(255, 255, 255);
  }
}

.cardlists {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  padding: 4rem;
  padding-bottom: 20px;
  overflow-x: scroll;
}
.cardlists ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.cardlists ::-webkit-scrollbar-thumb {
  background: #6f6685;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px rgba(143, 70, 70, 0.25), inset -2px -2px 2px rgba(194, 44, 44, 0.25);
}
.cardlists ::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #8f71d4, #4d2b9c 1px, #5726b9 0, #6d28f7);
}
