.blog-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.head {
  margin: 15px;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 15px;
  flex-wrap: wrap;
}

.head-img {
  padding: 5px;
  width: 50vw;
  height: 80vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.head-img img {
  margin-left: 30px;
  width: 80%;
  height: 85%;
  object-fit: cover;
}

.head-info {
  margin: 10px;
  margin-top: 40px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 44vw;
  height: 80vh;
  color: white;
  text-align: center;
}

.head-info h1 {
  border-left: 5px solid white;
  padding-left: 30px;
  font-size: 3rem;
  text-align: center;
  font-weight: 1200;
}

.head-info h3 {
  padding-left: 30px;
  width: 400px;
  text-align: center;
}

@media screen and (max-width: 832px) {
  .head-info {
    height: 30vh;
    margin: 30px;
    
  }
  .head {
    height: 130vh;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
}
// @media screen and (max-width: 768px) {
//   .head {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: space-between;
//     min-height: 100vh;
//   }

// }

.article {
  // height: 60vh;
  width: 80vw;
  margin: auto;
  margin-top: 100px;
  padding: 5px;
  margin: 10px;
  flex-wrap: wrap;
  
}

.article p {
  text-indent: 100px;
  font-size: 1.5rem;
  color: white;
  line-height: 2;
}

.ql-container {
  min-height: 200px;
}

@media screen and (max-width:680px)
{

  .head
  {
    height: 100vh;
    
  }
  .head-img
  {
    width: 90vw;
    height: 50vh;
    min-height: 200px;
    margin-top: -30px;
    
  }

  .head-img img
  {
    margin-left: 20px;
  }
  .head-info
  {
    margin-top: 40px;
  }
  
}
@media  screen and (max-width: 668px) {
  .article p{
    text-indent: 00px;
  }
}
  
