.container{
    background-color: grey;
    position:absolute;
    overflow:hidden;
    left:35%;
    top:40%;
    border-top: 1px solid black;
    display:grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 0.2fr 1.1fr 0.1fr ;
    width:30%;
}
.container div{
    border: 1px solid black;
    height: 80px;
}
.grey{
    display: inline-block;
    margin: auto;
    height: 100vh;
    background-color: grey;
    width: 35%;
}
.black{
    float: left;
    height: 100vh;
    width:32.5%;
    background-color: black;
}
.black p{
    color: aliceblue;
    text-align: center;
    margin-top: 348px;
    font-size: 44px;
    font-weight: bolder;
}